.container {
  max-width: 1680px;
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 120px;

  @media screen and (max-width: 1199px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media screen and (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
body {
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
  position: relative;
}
