@font-face {
  font-family: Montserrat-Bold;
  src: url(./fonts/Montserrat-Bold.ttf) format("truetype");
}
@font-face {
  font-family: Tkachev-Lugatype;
  src: url(./fonts/Tkachev-Lugatype) format("truetype");
}
