//basic mixins

@mixin text-properties($font-weight, $font-height) {
  font-weight: $font-weight;
  line-height: $font-height;
}

@mixin padding($padding-top, $padding-right, $padding-bottom, $padding-left) {
  padding-top: $padding-top;
  padding-right: $padding-right;
  padding-bottom: $padding-bottom;
  padding-left: $padding-left;
}

@mixin border-properties($border, $border-radius) {
  border: $border;
  border-radius: $border-radius;
}

@mixin color-back($color, $background-color) {
  color: $color;
  background-color: $background-color;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

//custom mixins

@mixin category-details(
  $border-radius,
  $background-color,
  $color,
  $text-align
) {
  border-radius: $border-radius;
  background-color: $background-color;
  color: $color;
  text-align: $text-align;
}

@mixin filters-gap($gap) {
  gap: $gap;
}
