//color variables
$white: #fff;
$black: #000;
$bright-blue: #4059ad;
$hover-blue: #536296;
$powder-blue: #b5c7ee;
$eclipse: #3e3e3e;
$card-blue: #364364;
$red: #d62240;
$border-grey: #ddd;
$dark-blue-1: rgba(54, 67, 100, 0.7);
$dark-blue-2: rgb(54, 67, 100);
$middle-grey: rgb(190, 180, 180);
$option-grey: #d0d0d0;
$gold: #ffc248;
$black-back: rgba(0, 0, 0, 0.7);
$black-lighter-back: rgba(0, 0, 0, 0.5);
$bright-red: #f01818;
$bright-black: #242424;
$grey: #bebebe;
$charcoal: #414141;
$card-dark-blue: #2b344e;
$purple: #6b22e9;
$green: #2eb125;
$dark-gold: #eaa331;
$zambezi: #5c5c5c;
$box-shadow: rgba(0, 0, 0, 0.1);
$ghost-white: rgb(220, 220, 220);
