.main__contact-section {
  margin-top: 30px;
  margin-bottom: 30px;
}

.main__contact-section-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main__contact-section-content-title {
  color: $black;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(600, normal);
  font-size: 34px;

  @media screen and (max-width: 760px) {
    font-size: 22px;
  }
}

.main__contact-section-content-text {
  color: $black;
  font-family: "Poppins", sans-serif;
  text-align: left;
  @include text-properties(400, normal);
  font-size: 20px;

  @media screen and (max-width: 760px) {
    font-size: 18px;
  }
}

.main__contact-section-photo {
  @include size(100%, auto);
}
