.main__clients-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
  @media screen and (max-width: 760px) {
    gap: 0;
  }
}

.main__clients-section-title {
  color: $black;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(600, normal);
  font-size: 34px;

  @media screen and (max-width: 760px) {
    font-size: 28px;
  }
}

.main__clients-section-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;

  @media screen and (max-width: 1360px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  @media screen and (max-width: 760px) {
    gap: 0;
  }
}

.main__clients-section-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  @media screen and (max-width: 760px) {
    gap: 20px;
  }
}

.main__clients-section-element {
  display: flex;
  gap: 30px;
  align-items: center;
  @media screen and (max-width: 760px) {
    gap: 20px;
  }
}

.main__clients-section-client-photo {
  border-radius: 50%;
  @include size(150px, 150px);

  @media screen and (max-width: 760px) {
    @include size(120px, 120px);
  }
}

.main__clients-section-client-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__clients-section-client-name {
  color: $black;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(600, normal);
  font-size: 26px;

  @media screen and (max-width: 760px) {
    font-size: 22px;
  }
}

.main__clients-section-client-review {
  color: $black;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(400, normal);
  font-size: 20px;

  @media screen and (max-width: 760px) {
    font-size: 18px;
  }
}
