.main__contacts-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main__contacts-section-title {
  color: $black;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(600, normal);
  font-size: 34px;

  @media screen and (max-width: 420px) {
    font-size: 26px;
  }
}

.main__contacts-section-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;

  @media screen and (max-width: 1700px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.main__contacts-section-adress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $ghost-white;
  border-radius: 5px;
  padding: 20px;
}

.main__contacts-section-adress-subtitle {
  color: $black;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(600, normal);
  font-size: 22px;
}

.main__contacts-section-socials {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__contacts-section-socials-list {
  display: flex;
  gap: 20px;
}

.main__contacts-section-socials-link:hover {
  cursor: pointer;
}

.main__contacts-section-socials-icon:hover {
  transform: scale(1.1);
}

.main__contacts-section-adress-text {
  color: $black;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(400, normal);
  font-size: 20px;
}

.main__contacts-section-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid $ghost-white;
  border-radius: 5px;
  padding: 20px;
}

.main__contacts-section-info-exp {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__contacts-section-info-man {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__contacts-section-photos {
  display: flex;
  gap: 20px;
  justify-content: center;

  @media screen and (max-width: 1700px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

.main__contacts-section-photo {
  @include size(32%, 350px);
  @media screen and (max-width: 1700px) {
    @include size(100%, auto);
  }
}
