.header {
  display: flex;
  flex-direction: column;
  background-color: $bright-blue;
  @include padding(15px, 0, 15px, 0);
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-section {
  display: flex;
}

.header-section__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header-section__logo-div {
  display: block;
  @media screen and (max-width: 1360px) {
    display: none;
  }
}

.header-section__logo-link {
  cursor: pointer;
}

.header-section__logo {
  @include size(200px, 70px);

  @media screen and (max-width: 1360px) {
    @include size(140px, 50px);
  }
  @media screen and (max-width: 530px) {
    display: none;
  }
}

.header-section__adaptive-div {
  display: none;
  align-items: center;
  @media screen and (max-width: 1360px) {
    display: flex;
    gap: 10px;
  }
  @media screen and (max-width: 420px) {
    gap: 0;
  }
}

.header-section__icon {
  @include size(40px, 40px);
  @media screen and (max-width: 1360px) {
    width: 20px;
    height: 20px;
  }
}

.header-section__button-adaptive {
  display: none;
  padding: 10px;
  cursor: pointer;
  @media screen and (max-width: 1360px) {
    display: block;
  }
  @media screen and (max-width: 420px) {
    padding: 5px;
  }
}

.header-section__button-adaptive-call {
  display: none;
  padding: 10px;
  cursor: pointer;
  @media screen and (max-width: 1360px) {
    display: block;
  }
}

.header-section__button {
  display: flex;
  font-family: "Lato", sans-serif;
  @include border-properties(1px solid $white, 5px);
  @include text-properties(400, normal);
  @include color-back($white, $bright-blue);
  padding: 10px 20px;
  height: fit-content;
  font-size: 16px;
  gap: 10px;
  align-items: center;
  cursor: pointer;

  @media screen and (max-width: 1360px) {
    display: none;
  }
}

.header-section__button:hover {
  background-color: $hover-blue;
  transition: background-color 0.2s ease;
}

.header-section__button-call {
  display: flex;
  font-family: "Lato", sans-serif;
  @include text-properties(400, normal);
  @include border-properties(1px solid $white, 5px);
  @include color-back($white, $bright-blue);
  padding: 10px 20px;
  height: fit-content;
  font-size: 16px;
  gap: 10px;
  align-items: center;
  cursor: pointer;

  @media screen and (max-width: 1360px) {
    display: none;
  }
}

.header-section__button-call:hover {
  background-color: $hover-blue;
  transition: background-color 0.2s ease;
}

//////////////////
/// HEADER-CATALOG
//////////////////

.header-section__catalog {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $black-lighter-back;
  z-index: 10;
  @include size(100%, 100%);
  display: none;
  justify-content: center;
  align-items: center;
  user-select: none;
  overflow-y: scroll;
}

.header-section__filters {
  display: flex;
  width: 100%;
  max-width: 300px;
  min-height: 300px;
  background-color: $powder-blue;
  box-shadow: 1px 2px 4px $box-shadow;
  @include border-properties(1px solid $powder-blue, 5px);
  position: fixed;
  top: 8%;
  left: 25%;
  padding: 20px;

  @media screen and (max-width: 1680px) {
    left: 20%;
  }

  @media screen and (max-width: 760px) {
    left: 5%;
  }

  @media screen and (max-width: 420px) {
    top: 14%;
    max-width: 170px;
    min-height: 150px;
  }
}

.header-section__filters-list {
  display: flex;
  flex-direction: column;
  gap: 25px;

  @media screen and (max-width: 420px) {
    gap: 10px;
  }
}

.header-section__filters-element {
  @extend .main__filters-element;
}

.header-section__filters-link {
  @extend .main__filters-element-link;
}
.header-section__filters-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header-section__filters-icon {
  @include size(35px, 35px);
  @media screen and (max-width: 760px) {
    @include size(25px, 25px);
  }
}

.header-section__filter-title {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  color: $eclipse;
  text-align: center;
  @include text-properties(400, normal);
  font-size: 24px;
  @media screen and (max-width: 420px) {
    font-size: 22px;
  }
}

///////////////
/// SEARCH CLASS
///////////////

.header-section__search-class {
  display: flex;
  align-items: center;
  position: relative;
  gap: 20px;
  @media screen and (max-width: 1360px) {
    display: none;
    width: 100%;
  }
}

.header-section__search-form {
  display: flex;
  width: 500px;
  position: relative;

  @media screen and (max-width: 1599px) {
    width: 250px;
  }
  @media screen and (max-width: 1360px) {
    width: 100%;
  }
}

.header-section__search-input {
  width: 100%;
  padding-left: 45px;
  @include border-properties(1px solid $white, 5px);
  @include text-properties(400, 250%);
  @include color-back($zambezi, $white);
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.header-section__search-close {
  cursor: pointer;
  font-size: 28px;
  color: $white;
  display: none;
}

.header-section__search-button {
  position: absolute;
  top: 8px;
  left: 12px;
  @include size(24px, 24px);
  border: none;
  cursor: pointer;
}

/////////////////
/// CART DIV
////////////////

.header-section__cart-div {
  display: flex;
  align-items: center;
  gap: 15px;
  @media screen and (max-width: 420px) {
    gap: 5px;
  }
}
.header-section__cart {
  @include size(45px, 45px);
  border-radius: 50%;
  background-color: $card-blue;
  transition: 0.1s;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  padding: 15px;
  box-shadow: 1px 2px 4px $box-shadow;
  background-image: url(/images/icons/cart.svg);
  background-size: 42px;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media screen and (max-width: 1360px) {
    display: flex;
    @include size(30px, 30px);
    background-size: 30px;
  }

  @media screen and (max-width: 420px) {
    display: flex;
    @include size(20px, 20px);
    background-size: 25px;
  }
}

.header-section__cart:hover {
  transform: scale(1.1);
}

.header-section__cart-num {
  position: absolute;
  @include color-back($white, $red);
  @include text-properties(500, normal);
  @include size(30px, 30px);
  font-size: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -6px;
  right: -6px;

  @media screen and (max-width: 1360px) {
    font-size: 14px;
    top: 0;
    right: 0;
    @include size(20px, 20px);
  }

  @media screen and (max-width: 420px) {
    font-size: 12px;
    @include size(15px, 15px);
  }
}

/////////////////////////
/// POPUP-BASKET
/////////////////////////

*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

.header-section__popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $black-lighter-back;
  z-index: 10;
  @include size(100%, 100%);
  display: none;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;


}
.header-section__popup-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  min-height: 300px;
  background-color: $white;
  box-shadow: 1px 2px 4px $box-shadow;
  border-radius: 4px;
  position: relative;



  @media screen and (max-width: 420px) {
    max-width: 350px;
  }
}
.header-section__popup__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom: 1px solid $border-grey;
  padding: 20px;
}
.header-section__popup__item:last-of-type {
  border-bottom: none;
}
.header-section__popup-title {
  color: $black;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(400, normal);
  font-size: 18px;
}
.popup__product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.popup__product-wrap {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.popup__product-image {
  @include size(100px, 100px);
  object-fit: contain;
  margin-right: 10px;
}
.popup__product-title {
  max-width: 300px;
  color: $black;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(400, normal);
  font-size: 18px;
}
.popup__product-price {
  color: $black;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(400, normal);
  font-size: 18px;
}
.popup__product-delete {
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
  color: $red;
}
.header-section__popup-cost {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.header-section__cost-price {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
.header-section__discount-price {
  @extend .header-section__cost-price;
}

.header-section__cost-discount-price {
  @extend .header-section__cost-price;
}
.header-section__popup-close {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 20px;
  color: $dark-blue-1;
  font-size: 20px;
}
.header-section__popup-close:hover {
  color: $dark-blue-2;
}

.popup--open {
  display: flex;
}

.header-section__popup-buttons {
  display: flex;
  justify-content: right;
  padding-top: 10px;
  gap: 20px;
}

.header-section__popup-delete-products {
  border: 1px solid $middle-grey;
  @include padding(10px, 20px, 10px, 20px);
  @include text-properties(400, normal);
  @include color-back($white, $bright-blue);
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 20px;
  width: fit-content;
  cursor: pointer;
  @media screen and (max-width: 420px) {
    font-size: 16px;
  }
}

.header-section__popup-delete-products:hover {
  background-color: $dark-blue-1;
}

.header-section__buy-btn {
  border: 1px solid $middle-grey;
  padding: 10px 20px;
  @include text-properties(400, normal);
  @include color-back($white, $bright-blue);
  @include padding(10px, 20px, 10px, 20px);
  font-family: "Lato", sans-serif;
  text-align: right;
  font-size: 20px;
  width: fit-content;
  cursor: pointer;
  @media screen and (max-width: 420px) {
    font-size: 16px;
  }
}
.header-section__buy-btn:hover {
  background-color: $dark-blue-1;
}

/////////////////////////////////////////////
/// /////////////////////////////////////////////
/// HEADER: CALL US
/// /////////////////////////////////////////////
/// /////////////////////////////////////////////

.header-section__contact {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-color: $black-lighter-back;
  z-index: 10;
  @include size(100%, 100%);
  justify-content: center;
  align-items: center;
  user-select: none;
  overflow-y: scroll;
}

.header-section__contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
  min-height: 300px;
  gap: 20px;
  background-color: $white;
  box-shadow: 1px 2px 4px $box-shadow;
  border-radius: 4px;
  position: relative;
  padding: 40px;

  @media screen and (max-width: 760px) {
    max-width: 350px;
    padding: 20px;
  }
  @media screen and (max-width: 420px) {
    max-width: 300px;
    padding: 20px;
  }
}

.header-section__contact-close {
  position: absolute;
  top: 3%;
  right: 1%;
  cursor: pointer;
  font-size: 18px;
}

.header-section__contact-title {
  color: $black;
  font-family: "Lato", sans-serif;
  text-align: center;
  @include text-properties(600, normal);
  font-size: 20px;
}

.header-section__contact-text {
  color: $black;
  font-family: "Lato", sans-serif;
  text-align: center;
  @include text-properties(400, normal);
  font-size: 16px;
}

.header-section__contact-call-back {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  background-color: $border-grey;
  height: auto;

  @media screen and (max-width: 450px) {
    flex-direction: column;
    gap: 10px;
  }
}

.header-section__info-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.header-section__info {
  color: $black;
  font-family: "Lato", sans-serif;
  text-align: center;
  @include text-properties(600, normal);
  font-size: 16px;
}

.header-section__info:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header-section__messangers {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header-section__messangers-link:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.header-section__contact-form {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.header-section__contact-input {
  width: 100%;
  padding-left: 15px;
  @include color-back($zambezi, $white);
  @include text-properties(400, 250%);
  @include border-properties(1px solid $middle-grey, 5px);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  justify-content: center;
  opacity: 0.7;
}

.header-section__contact-input:hover {
  opacity: 1;
}

.header-section__contact-btn {
  position: absolute;
  right: 40px;
  font-family: "Lato", sans-serif;
  text-align: center;
  @include color-back($black, $gold);
  @include text-properties(400, normal);
  @include padding(10px, 30px, 10px, 30px);
  font-size: 18px;
  opacity: 0.7;
  border-radius: 5px;
  cursor: pointer;

  @media screen and (max-width: 450px) {
    right: 20px;
  }
}

.header-section__contact-btn:hover {
  opacity: 1;
}

/////////////////////////
/// CURRENCY AND LANGUAGE
/////////////////////////

.header__changes {
  display: flex;
  align-items: center;
  position: relative;
}

.header__changes-custom-select {
  position: relative;
}

.header__changes-language {
  color: $white;
  font-family: "Poppins", sans-serif;
  text-align: center;
  @include text-properties(400, normal);
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  border: none;
  @media screen and (max-width: 420px) {
    padding: 5px;
  }
}

.header__changes-language:hover {
  text-decoration: underline;
}

.header__changes-currency {
  color: $white;
  font-family: "Poppins", sans-serif;
  text-align: center;
  @include text-properties(400, normal);
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  text-wrap: nowrap;
  border: none;
  @media screen and (max-width: 420px) {
    padding: 5px;
  }
}

.header__changes-currency:hover {
  text-decoration: underline;
}

.header__changes select {
  display: block;
  align-items: center;
  @include text-properties(400, 150%);
  font-size: 16px;
  background-color: $bright-blue;
  appearance: none;
}

.header__changes option {
  background-color: $option-grey;
  font-size: 16px;
  line-height: 150%;
  @include text-properties(400, normal);
  align-items: center;
}

.header__changes-text {
  color: $white;
  font-family: "Lato", sans-serif;
  text-align: center;
  @include text-properties(400, normal);
  font-size: 16px;
}

/////////////////
/// HEADER DOWN-PART
///////////////////

.header-section__down-logo-name {
  display: none;

  @include text-properties(400, normal);
  font-size: 15px;

  @media screen and (max-width: 510px) {
    display: block;
  }
}

.header-section__down-text {
  color: $white;
  font-family: "Lato", sans-serif;
  text-align: center;
  @include text-properties(400, normal);
  font-size: 14px;
  padding-top: 10px;
}

.header__changes-2 {
  display: none;
  gap: 10px;
  @media screen and (max-width: 1360px) {
    display: flex;
  }
}

.header-section__chat-link {
  display: block;
  position: fixed;
  top: 870px;
  right: 50px;
  background-color: $bright-blue;
  @include size(80px, 80px);
  border-radius: 50%;
  background-image: url(/images/icons/chat-icon.svg);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (max-width: 1360px) {
    display: flex;
  }
  @media screen and (max-width: 420px) {
    top: 600px;
    right: 20px;
  }
}

.header-section__chat-link:hover {
  cursor: pointer;
  border: 2px solid $option-grey;
  transform: scale(1.1);
}
