.footer {
  background: $card-dark-blue;
  width: 100%;
  @include padding(30px, 0, 30px, 0);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  @media screen and (max-width: 1360px) {
    display: grid;
    justify-content: center;
    align-items: left;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 36% 60%;
    row-gap: 20px;
    column-gap: 10px;
  }
}

.footer__category {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (max-width: 1360px) {
    justify-content: center;
  }
}

.footer__category-title {
  color: $white;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(600, normal);
  width: fit-content;
  font-size: 24px;
  @media screen and (max-width: 760px) {
    font-size: 22px;
  }
}

.footer__category-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__category-socials-element {
  display: flex;
  align-items: start;
}

.footer__category-link {
  display: flex;
  align-items: start;
  text-decoration: none;
  width: fit-content;
}

.footer__category-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer__category-text {
  display: block;
  color: $white;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(400, normal);
  font-size: clamp(16px, 5vw, 18px);
  width: fit-content;
}

.underlined {
  text-decoration: underline;
}

.footer__category-socials-list {
  display: flex;
  gap: 20px;
}

.footer__down-part {
  margin-top: 30px;
}

hr {
  border: 1px solid $ghost-white;
  opacity: 0.2;
}

.footer__down-part-author {
  display: flex;
  padding-top: 10px;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 560px) {
    flex-direction: column;
    justify-content: center;
  }
}

.footer__down-part-text {
  color: $middle-grey;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(400, normal);
  font-size: 18px;
}

.footer__down-part-text-logo-div {
  display: none;
  @media screen and (max-width: 560px) {
    display: block;
  }
}

.footer__down-part-logo {
  @include size(200px, 70px);
  @media screen and (max-width: 560px) {
    display: none;
  }
}

.footer__down-part-logo:hover {
  cursor: pointer;
}

.footer__category-socials-link:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.footer__down-part-text {
  color: $ghost-white;
  font-family: "Lato", sans-serif;
  text-align: center;
  @include text-properties(400, normal);
  font-size: 14px;
  opacity: 0.9;
}
