.main__pay-deliver-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main__contacts-section-title {
  color: $black;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(600, normal);
  font-size: 34px;
}

.main__pay-deliver-section-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;

  @media screen and (max-width: 1700px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.main__pay-deliver-section-payment {
  display: flex;
  flex-direction: column;
  border: 1px solid $ghost-white;
  border-radius: 5px;
  padding: 20px;
  position: relative;
}

.main__pay-deliver-section-title {
  color: $black;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(600, normal);
  font-size: 26px;
}

.main__pay-deliver-section-subtitle {
  color: $black;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(600, normal);
  font-size: 22px;
}

.main__pay-deliver-section-text {
  color: $black;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(400, normal);
  font-size: 20px;
}

.main__pay-deliver-section-hr {
  height: 1px;
  width: 100%;
  background-color: $middle-grey;
}

.main__pay-deliver-section-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.main__pay-deliver-section-vay {
  display: flex;
  gap: 10px;
}

.main__pay-deliver-section-payment-icon {
  @include size(25px, 25px);
}

.main__pay-deliver-section-delivery {
  display: flex;
  flex-direction: column;
  border: 1px solid $ghost-white;
  border-radius: 5px;
  padding: 20px;
}

.main__pay-deliver-section-article-title {
  color: $black;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(600, normal);
  font-size: 22px;
  text-transform: capitalize;
}
