.main__suppliers-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main__suppliers-section-content {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid $ghost-white;
  gap: 20px;
  padding: 20px;
}

.main__suppliers-section-title {
  color: $black;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(600, normal);
  font-size: 34px;

  @media screen and (max-width: 760px) {
    font-size: 26px;
  }
  @media screen and (max-width: 420px) {
    font-size: 24px;
  }
}

.main__suppliers-section-text {
  color: $black;
  font-family: "Lato", sans-serif;
  text-align: left;
  @include text-properties(400, normal);
  font-size: 22px;

  @media screen and (max-width: 760px) {
    font-size: 18px;
  }
}
